@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://wallpapers.com/images/hd/soccer-stadium-1920-x-1080-background-azhfleqn4fphxk17.jpg");

}

.dashboardSaudacao{
    background-color: white;
    box-shadow: 1px 1px 15px aqua;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    font-size: small;
    
    h1{
        font-family: "Aboreto", system-ui;
        margin-bottom: 1rem;
    }

    .btnLogout{
        width: 80%;
        padding: 1rem;
        color: white;
        border: none;
        border-radius: 6px;
        font-family: "Aboreto", system-ui;
        background-color: #1D546C;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 1px 1px 20px #1D546C;
    }

    .btnLogout:hover {
        color: black;
        background-color: #33A1E0;
        box-shadow: 1px 1px 20px #33A1E0;
        transition: 0.2s;
    }
}

.dashboardSaudacao:hover{
    transform: scale(1.05,1.05);
    transition: 0.2s;
}

.formCadastro{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 15px aqua;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;


    .btnCadastrarJogador{
        width: 80%;
        padding: 1rem;
        color: white;
        border: none;
        border-radius: 6px;
        font-family: "Aboreto", system-ui;
        background-color: #1D546C;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 1px 1px 20px #1D546C;
    }

    .btnCadastrarJogador:hover {
        color: black;
        background-color: #33A1E0;
        box-shadow: 1px 1px 20px #33A1E0;
        transition: 0.2s;
    }

    select{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 6px;
        font-size: 1rem;
        font-style: italic;
        background-color: rgb(255, 251, 222);
    }
}

.formCadastro:hover{
    transform: scale(1.05,1.05);
    transition: 0.2s;
}
