:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%

}

body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.page-container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  box-sizing: border-box;
}

